/*

*/
/*
Layout
*/
width: 393px;
height: 852px;
top: -425px;
left: -205px;
gap: 0px;
border-radius: 4px 0px 0px 0px;
opacity: var(--VALORESquant);

/*
Background colors
*/
border-radius: 4px;
background: #FFFDFD;

